/* utilities import */
@import url("universal-stylesheet.css");

/*---------------------
        Utilities
----------------------*/
/* bootstraps thead and tfoot border remover */
.modal-table > :not(:first-child) {
  border-top: 0;
}

/*-----------------------------
        Car Genre Design
------------------------------*/
.custom-title {
  text-align: center;
  font-size: 3em;
  font-weight: 800;
  margin-bottom: 20px;
  color: var(--austhir-title-color);
}

.car-type-filter-container {
  padding: 0;
}

.car-type-button {
  height: 80px;
  width: 80px;
  margin: 20px;
  text-align: center;
  color: var(--austhir-orange);
  cursor: pointer;
}

.car-type-button svg {
  padding: 10px;
  fill: var(--austhir-orange);
  border: 2px solid var(--austhir-orange);
  border-radius: 50%;
  margin-bottom: 15px;
  transition: border-color 0.2s ease-in-out;
}

.car-type-button:hover svg {
  border-color: var(--austhir-light-orange);
}

.car-type-button.selected svg {
  border-color: var(--austhir-light-orange) !important;
}

/*------------------------------------
        Mods section Design
-------------------------------------*/
.mods-section-title {
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 30px;
  color: var(--austhir-title-color);
}

.mods-container-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}

.color-card,
.rim-card,
.light-card,
.tint-card,
.tyre-card {
  position: relative;
  height: 220px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.color-card:hover,
.tyre-card:hover,
.rim-card:hover,
.light-card:hover,
.tint-card:hover {
  transform: scale(1.2);
}

.color-card.selected,
.rim-card.selected,
.light-card.selected,
.tint-card.selected,
.tyre-card.selected {
  transform: scale(1.2);
  border: 2px solid var(--austhir-orange);
}

.color-card-text,
.rim-card-text,
.light-card-text,
.tint-card-text,
.tyre-card-text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  font-size: 22px;
  font-weight: 700;
}

/*-----------------------------
        Modal Design
------------------------------*/
.submit-btn {
  margin: 0;
}

.modal-table {
  border: 2px solid var(--austhir-orange);
  text-align: center;
}

.modal-table tr td {
  position: relative;
}

.modal-table tr th:first-child {
  width: 5%;
}

.modal-input-container {
  width: 100%;
}

.modal-input-container + .modal-input-container {
  margin-top: 20px;
}

.modal-input-container label {
  margin-left: 5px;
  margin-bottom: 5px;
  font-weight: 500;
}

.modal-input-container input {
  width: 100%;
  padding: 8px 10px;
  border-radius: 10px;
  border: 2px solid var(--austhir-orange);
  font-weight: 600;
  outline: none;
}

.quantity-btn {
  position: absolute;
  border: 1px solid var(--austhir-orange);
  padding: 7px 10px;
  top: 0;
  cursor: pointer;
}

.quantity-btn:hover {
  opacity: 0.4;
}

.quantity-minus-btn {
  left: 0;
  border-right: 2px solid var(--austhir-orange);
}

.quantity-plus-btn {
  right: 0;
  border-left: 2px solid var(--austhir-orange);
}

footer {
  margin-top: 100px;
}

/*-----------------------------
        Mobile Design
------------------------------*/
@media (max-width: 576px) {
  #car-genre-selection-section {
    width: 95%;
  }
  .search-car-container {
    width: 98%;
  }

  .car-type-button {
    margin: 10px;
  }

  .second-row {
    margin-top: 40px;
  }

  .mods-section-title {
    font-size: 2em;
    text-align: center;
  }

  .mods-container-5 {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*-----------------------------
        XS Design
------------------------------*/
@media (max-width: 300px) {
  .car-type-button {
    margin: 5px;
  }
}
