/*-----------------------------
        Utilities
------------------------------*/
:root {
  --austhir-orange: #ff4604;
  --austhir-light-orange: #ffece6;
  --austhir-dark-grey: #222732;
  --austhir-border-color: #e7edf3;
  --austhir-devider-color: #50514f;
  --austhir-nav-text-color: #1b2029;
  --austhir-dropdown-active-color: #e6e6e6;
  --austhir-body-bg-color: #eff3fa;
  --austhir-title-color: #222732;
  --austhir-card-body-color: #222732;
  --austhir-card-footer-text-color: #99a1b2;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--austhir-body-bg-color);
}

nav {
  height: 100px;
}

section {
  padding: 60px 0;
}

a {
  text-decoration: none;
  color: black;
}

.austhir-btn {
  position: relative;
  background-color: var(--austhir-orange);
  color: white !important;
  font-weight: 500;
  padding: 15px 25px;
  border-radius: 15px;
}

.austhir-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.15);
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.2s ease-in-out;
}

.austhir-btn:hover::before {
  transform: scaleX(1);
}

input {
  display: block;
}

.submit-btn {
  border: 0;
  margin-top: 20px;
  font-size: 18px;
}

footer {
  background-color: var(--austhir-dark-grey);
  height: 200px;
}

.copyright-text p {
  color: white;
  margin: 0;
}

.social-link {
  height: 60px;
  width: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background-color: #3b4250;
  color: white;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

.social-link:hover,
.social-link:focus {
  background-color: #0f141e;
  color: white;
}

.social-link + .social-link {
  margin-left: 20px;
}

/*-----------------------------
        Mobile Design
------------------------------*/
@media (max-width: 576px) {
  .social-links {
    margin-top: 20px;
  }
}

/*-----------------------------
        XS Design
------------------------------*/
@media (max-width: 300px) {
  .social-link {
    height: 45px;
    width: 45px;
  }
}
