/*-----------------------------
        Utilities
------------------------------*/
:root {
  --austhir-orange: #ff4604;
  --austhir-light-orange: #ffece6;
  --austhir-border-color: #e7edf3;
  --austhir-devider-color: #50514f;
  --austhir-nav-text-color: #1b2029;
  --austhir-dropdown-active-color: #e6e6e6;
  --austhir-body-bg-color: #eff3fa;
  --austhir-title-color: #222732;
  --austhir-card-body-color: #222732;
  --austhir-card-footer-text-color: #99a1b2;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--austhir-body-bg-color);
}

nav {
  height: 100px;
}

section {
  padding: 60px 0;
}

a {
  text-decoration: none;
  color: black;
}

.austhir-btn {
  position: relative;
  background-color: var(--austhir-orange);
  color: white !important;
  font-weight: 500;
  padding: 15px 25px;
  border-radius: 15px;
}

.austhir-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.15);
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.2s ease-in-out;
}

.austhir-btn:hover::before {
  transform: scaleX(1);
}

input {
  display: block;
}

.submit-btn {
  border: 0;
  margin-top: 20px;
  font-size: 18px;
}
